In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import zscore
from sklearn.decomposition import PCA

In [3]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [4]:
sessions = [9,12,14,17,21,30,32]
data = []
for session in sessions:
  dat = pd.read_csv('/gdrive/Shareddrives/NoNameGroup - NMA/Results/Topological measures/all_measures_session_' + str(session)+'.csv')
  data.append(dat)

In [5]:
dataframe = data[2]
print(dataframe.keys())

Index(['Unnamed: 0', 'reward', 'session', 'trial', 'mean_degree', 'std_degree',
       'entropy_degree', 'mean_strenght', 'std_strenght', 'entropy_strenght',
       'mean_closeness', 'std_closeness', 'entropy_closeness',
       'mean_clustering', 'std_clustering', 'entropy_clustering', 'geodd',
       'smallworld', 'mean_clustering_midbrain',
       'mean_clustering_basal_ganglia', 'std_clustering_midbrain',
       'std_clustering_basal_ganglia', 'mean_degree_midbrain',
       'mean_degree_basal_ganglia', 'std_degree_midbrain',
       'std_degree_basal_ganglia', 'mean_strenght_midbrain',
       'mean_strenght_basal_ganglia', 'std_strenght_midbrain',
       'std_strenght_basal_ganglia', 'mean_closeness_midbrain',
       'mean_closeness_basal_ganglia', 'std_closeness_midbrain',
       'std_closeness_basal_ganglia'],
      dtype='object')

In [6]:


for k in range(len(sessions)):
  dataframe = data[k]
  rewards = np.array(list(dataframe['reward']))
  datareward = dataframe[dataframe['reward'] >0]
  datanoreward = dataframe[dataframe['reward'] <0]
  data2 = pd.concat([datareward, datanoreward], axis=0)
  data2['reward'] = data2['reward'].astype(str)
  dataglob = data2[['mean_degree', 'std_degree',
        'entropy_degree', 'mean_strenght', 'std_strenght', 'entropy_strenght',
        'mean_closeness', 'std_closeness', 'entropy_closeness',
        'mean_clustering', 'std_clustering', 'entropy_clustering', 'geodd',
        'smallworld']]

  dataloc = data2[['mean_clustering_basal_ganglia', 'std_clustering_midbrain',
        'std_clustering_basal_ganglia', 'mean_degree_midbrain',
        'mean_degree_basal_ganglia', 'std_degree_midbrain',
        'std_degree_basal_ganglia', 'mean_strenght_midbrain',
        'mean_strenght_basal_ganglia', 'std_strenght_midbrain',
        'std_strenght_basal_ganglia', 'mean_closeness_midbrain',
        'mean_closeness_basal_ganglia', 'std_closeness_midbrain',
        'std_closeness_basal_ganglia']]


  #####
  valoresglob = dataglob.values
  valoresglob = valoresglob.T


  valoresloc = dataloc.values
  valoresloc = valoresloc.T


  for i in range(len(valoresglob)):
    valoresglob[i,:] = (valoresglob[i,:] - np.mean(valoresglob[i,:]))/np.std(valoresglob[i,:])
    #valoresglob[i,:] = valoresglob[i,:]/np.max(valoresglob[i,:])
  modelglob = PCA(n_components=14).fit(valoresglob)
  Wglob = modelglob.components_

  for i in range(len(valoresloc)):
    valoresloc[i,:] = (valoresloc[i,:] - np.mean(valoresloc[i,:]))/np.std(valoresloc[i,:])
    #valoresloc[i,:] = valoresloc[i,:]/np.max(valoresloc[i,:])
  modelloc = PCA(n_components=14).fit(valoresloc)
  Wloc = modelloc.components_

  newdataloc = np.stack((rewards,Wloc[0], Wloc[1],Wloc[2],Wloc[3],Wloc[4],Wloc[5],Wloc[6],Wloc[7],Wloc[8],Wloc[9],Wloc[10],Wloc[11],Wloc[12],Wloc[13]), axis=0)
  newdataglob = np.stack((rewards,Wglob[0], Wglob[1],Wglob[2],Wglob[3],Wglob[4],Wglob[5],Wglob[6],Wglob[7],Wglob[8],Wglob[9],Wglob[10],Wglob[11],Wglob[12],Wglob[13]), axis=0)
  newdatatot = np.stack((rewards,Wloc[0], Wloc[1],Wloc[2],Wloc[3],Wloc[4],Wloc[5],Wloc[6],Wloc[7],Wloc[8],Wloc[9],Wloc[10],Wloc[11],Wloc[12],Wloc[13],Wglob[0], Wglob[1],Wglob[2],Wglob[3],Wglob[4],Wglob[5],Wglob[6],Wglob[7],Wglob[8],Wglob[9],Wglob[10],Wglob[11],Wglob[12],Wglob[13]))
  newdataloc = newdataloc.T
  newdataglob = newdataglob.T
  newdatatot = newdatatot.T
  dfloc = pd.DataFrame(newdataloc, columns = ['reward','1C','2C','3C','4C','5C','6C','7C','8C','9C','10C','11C','12C','13C','14C'])
  dfglob = pd.DataFrame(newdataglob, columns = ['reward','1C','2C','3C','4C','5C','6C','7C','8C','9C','10C','11C','12C','13C','14C'])
  dftot = pd.DataFrame(newdatatot, columns = ['reward', '1C Global','2C Global','3C Global','4C Global','5C Global','6C Global','7C Global','8C Global','9C Global','10C Global','11C Global','12C Global','13C Global','14C Global','1C Local','2C Local','3C Local','4C Local','5C Local','6C Local','7C Local','8C Local','9C Local','10C Local','11C Local','12C Local','13C Local','14C Local'] )
  dfloc.to_csv('/gdrive/Shareddrives/NoNameGroup - NMA/Results/Topological measures/PCA_glob_measures_session_' + str(sessions[k])+'.csv' )
  dfglob.to_csv('/gdrive/Shareddrives/NoNameGroup - NMA/Results/Topological measures/PCA_loc_measures_session_' + str(sessions[k])+'.csv' )
  dftot.to_csv('/gdrive/Shareddrives/NoNameGroup - NMA/Results/Topological measures/PCA_tot_measures_session_' + str(sessions[k])+'.csv')

In [ ]:
Wloc.shape

(14, 37)

In [7]:
import pandas as pd
import plotly as pl
import plotly.express as px

In [8]:
dataframe = dftot 
datareward = dataframe[dataframe['reward'] >0]
datanoreward = dataframe[dataframe['reward'] <0]
data2 = pd.concat([datareward, datanoreward], axis=0)
data2['reward'] = data2['reward'].astype(str)

    reward  1st component  2nd component  3rd component
0     -1.0      -0.171000      -0.269484      -0.085803
1     -1.0      -0.062407       0.035243       0.040298
2     -1.0      -0.154075       0.063615       0.023834
3      1.0      -0.041677       0.139368       0.162552
4     -1.0      -0.059175       0.109210      -0.121080
..     ...            ...            ...            ...
75     1.0       0.157715      -0.010525       0.035347
76     1.0      -0.023638       0.191989      -0.011497
77     1.0       0.021226       0.028071       0.062816
78    -1.0       0.146794       0.049901      -0.164995
79     1.0       0.161476      -0.103022       0.114823

[80 rows x 4 columns]